*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    width: 100%;
    height: 55px;
    /* transition: 300ms; */
}
#logoDiv{
    /* margin-top: 1em; */
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#logoDiv span{
    font-weight: bolder;
    color: indigo;
}
nav{
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    top: 50%;
    transition: 300ms;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
    padding-right: 2em;
}
header span{
    padding-left: 2em;
}
header * {
    color: black;
    text-decoration: none;
}
#menuBtn{
    display: none;
    width: 3em;
    height: 3em;
    background-color: indigo;
    margin-right: 1em;
    border: none;
    border-radius: .7em;
    position: relative;
    cursor: pointer;
}
#menuBtn img{
    width: 2em;
    height: 2em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

}
main{
    display: grid;
    grid-template-areas: "slika1 section1"
                         "section2 slika2";
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 500px; */
}
.slika{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slika img{
    width: 80%;
    height: 80%;
    object-fit: cover;
}
main section{
    padding-left:15%;
    padding-right:15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;   
}
.sectionBtn{
    background-color: indigo;
    padding: .5em 1em .5em 1em;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 1em;
}
footer{
    height: 100px;
    background-color: rgb(26, 31, 31);
}

@media(max-width: 900px) {

    main{
        grid-template-columns: 1fr;
        grid-template-areas: "slika1" "section1" "slika2" "section2";
        padding-bottom: 100px;
    }

    .slika img{
        width: 90%;
        height: 90%;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    header{
        position: relative;
        z-index: 2;
    }
    #logoDiv{
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
    nav{
        transition: 300ms;
        transform: none;
        top: unset;
        bottom: 0;
        width: 100%;
        background-color: white;
    }
    .showNavBar{
        transform: translateY(100%);
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        padding: 1em 0 1em 1em;
        width: 100%;
    }
    #menuBtn{
        display: block;
    }
}